.container{
    margin-bottom: 70px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    border: none;
    background-image:linear-gradient(to bottom,#FF589B 0%,#FF136F 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
/* Banner Section ends here  */

/* categories section start here  */
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: #DA70D6;
}
.cat3{
    background-color: #0000FF;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
/* categories section ends here  */

/* Shoes section start here  */
.shoes .card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    margin-bottom: 15px;
}
/* Shoes section ends here  */

/* backpack section start here  */
.backpack .card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    margin-bottom: 15px;
}
.backpack .card-footer{
    border: none;
    background-color: white;
}

.footer-area{
    background-color: #FFFFFF;
}
/* backpack section Ends here  */

/* Footer Section Start Here  */
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.bg-orange{
    background-color: #fceae8;
    border-radius: 10px;
    padding: 70px 0px 70px 0px;
}
